@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .dark-mode-toggle {
      @apply flex items-center justify-center w-10 h-10 cursor-pointer;
  }
  .btn-primary {
      @apply border border-blue text-blue py-2 px-4 rounded-lg shadow-sm 
          hover:bg-blue hover:text-white transition duration-300 ease-in-out;
  }

  .btn-secondary {
      @apply border border-gray-500 text-gray-700 py-2 px-4 rounded-lg 
          hover:bg-gray-500 hover:text-white transition duration-300 ease-in-out;
  }
  
  .btn-long {
      @apply border border-blue text-blue py-2 px-8 rounded-lg 
          hover:bg-blue hover:text-white transition duration-300 ease-in-out;
  }

  .btn-small {
      @apply border border-gray-400 text-gray-600 py-1 px-3 rounded 
          hover:bg-gray-400 hover:text-white transition duration-300 ease-in-out;
  }

  /* Mobile Styles */
  @media (max-width: 768px) {
      .btn-primary, .btn-secondary, .btn-long, .btn-small {
          @apply w-full text-lg py-3;
      }
  }
}

@layer utilities {
  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  .animate-background {
    animation: backgroundAnimation 10s ease infinite;
    background-size: 300% 300%;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  @keyframes lift {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes barPulse {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.1);
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }
  
  .animate-lift {
    animation: lift 1.5s ease-in-out infinite;
  }
  
  .animate-barPulse {
    animation: barPulse 1.5s ease-in-out infinite;
  }
  
  .animate-shimmer {
    background-size: 400% 100%;
    animation: shimmer 3s infinite linear;
  }
  
  /* Transition effect for menu fade */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s ease;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .shadow-lg-white {
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.1);
  }

  .shadow-bottom-white {
    box-shadow: 0 4px 6px -4px rgba(255, 255, 255, 0.7);
  }
  .focus\:shadow-bottom-white:focus {
    box-shadow: 0 4px 6px -4px rgba(255, 255, 255, 0.7);
  }
}